li {
  list-style: none;
  color: rgb(114, 73, 12);
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  text-align: start;
}
.Day {
  color: black;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
}
