form {
  padding: 5px 0px;
  margin-bottom: 0;
}
.button {
  background-color: white;
  color: black;
  padding: 3px;
  border-radius: 10px;
  box-shadow: lightslategrey 5px;
}
.button:hover {
  background-color: #c24d2c;
  color: white;
  transition: ease 0.05s;
}
