li {
  list-style: none;
  color: rgb(114, 73, 12);
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
  text-transform: capitalize;
  text-align: start;
}
form {
  padding: 0px;
}
.container {
  max-width: 700px;
  padding: 15px 10px 15px 15px;
}
.WeatherInfo{
max-width: 700px;
}
.City {
  font-weight: 700;
  color: #c24d2c;
  font-size: 30px;
  margin-bottom: 0;
  padding: 0px 10px;
  text-align: start;
}
.Day {
  color: black;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
  padding: 0px 25px;
}
.button {
  background-color: white;
  color: black;
  padding: 3px;
  border-radius: 10px;
  box-shadow: lightslategrey 5px;
}
.button:hover {
  background-color: #c24d2c;
  color: white;
  transition: ease 0.05s;
}
.Current {
  padding: 0px 30px;
}
#main-tempt {
  font-size: 30px;
}
.units {
  font-size: 30px;
}
